boto3==1.28.29
botocore==1.31.29
colorama==0.4.6
iniconfig==2.0.0
jmespath==1.0.1
mpmath==1.3.0
numpy==1.26.0
packaging==23.1
pandas==1.5.3
parameterized==0.7.5
pluggy==1.2.0
py4j==0.10.9.7
pyarrow==14.0.1
pyspark[sql]==3.5.0
pytest==7.4.0
python-dateutil==2.8.2
pytz==2023.3
randomgen==1.26.0
s3transfer==0.6.2
scipy==1.11.3
six==1.16.0
smart-open==5.2.1
sympy==1.9
typeguard==2.12.1
typing-extensions==4.7.1
urllib3==1.26.16
